In [1]:
import pandas as pd

In [2]:
#Preprocessed dataset

In [3]:
df=pd.read_csv("Preprocessed_credit_card_detection.csv")
df

,User,Card,Year,Month,Day,Zip,MCC,Amount,UseChip,MerchantName,MerchantCity,MerchantState,target
0,1750.0,0.0,2015.0,7.0,16.0,44883.000000,7832.0,$21.42,Swipe Transaction,Lukass Theaters,Tiffin,OH,No
1,1959.0,1.0,2016.0,5.0,5.0,93535.000000,5300.0,$76.99,Chip Transaction,Jadens Wholesale,Lancaster,CA,No
2,182.0,2.0,2012.0,11.0,23.0,77096.000000,5411.0,$2.19,Swipe Transaction,Supermarket Chain 3,Houston,TX,No
3,458.0,2.0,2019.0,5.0,15.0,48532.000000,5411.0,$45.73,Chip Transaction,Supermarket Chain 3,Flint,MI,No
4,1949.0,0.0,2018.0,1.0,4.0,11213.000000,5499.0,$1.25,Chip Transaction,Convenience Store Chain 1,Brooklyn,NY,No
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1739,1998.0,2.0,2013.0,1.0,26.0,51694.676895,5921.0,$193.24,Swipe Transaction,Neufelder Tegucigalpa Wine and Liquor,Tegucigalpa,Honduras,Yes
1740,1999.0,3.0,2020.0,1.0,26.0,63146.000000,5300.0,$221.96,Swipe Transaction,Abrils Wholesale,Saint Louis,MO,Yes
1741,1999.0,3.0,2020.0,1.0,26.0,63146.000000,5300.0,$26.69,Swipe Transaction,Abrils Wholesale,Saint Louis,MO,Yes
1742,1999.0,3.0,2020.0,1.0,26.0,63146.000000,5812.0,$103.95,Chip Transaction,Cox Saint Louis Restaurant,Saint Louis,MO,Yes
1743,1999.0,3.0,2020.0,1.0,26.0,51694.676895,5815.0,$0.24,Online Transaction,Digital Content Company 2,ONLINE,CA,Yes

In [4]:
df.columns

Index(['User', 'Card', 'Year', 'Month', 'Day', 'Zip', 'MCC', 'Amount',
       'UseChip', 'MerchantName', 'MerchantCity', 'MerchantState', 'target'],
      dtype='object')

In [6]:
df["target"].value_counts()

target
No     872
Yes    872
Name: count, dtype: int64

In [7]:
df.isnull().sum()

User             0
Card             0
Year             0
Month            0
Day              0
Zip              0
MCC              0
Amount           0
UseChip          0
MerchantName     0
MerchantCity     0
MerchantState    0
target           0
dtype: int64

In [8]:
independent=df[['User', 'Card', 'Year', 'Month', 'Day', 'Amount', 'UseChip',
       'MerchantName', 'MerchantCity', 'MerchantState', 'Zip', 'MCC']]
independent

,User,Card,Year,Month,Day,Amount,UseChip,MerchantName,MerchantCity,MerchantState,Zip,MCC
0,1750.0,0.0,2015.0,7.0,16.0,$21.42,Swipe Transaction,Lukass Theaters,Tiffin,OH,44883.000000,7832.0
1,1959.0,1.0,2016.0,5.0,5.0,$76.99,Chip Transaction,Jadens Wholesale,Lancaster,CA,93535.000000,5300.0
2,182.0,2.0,2012.0,11.0,23.0,$2.19,Swipe Transaction,Supermarket Chain 3,Houston,TX,77096.000000,5411.0
3,458.0,2.0,2019.0,5.0,15.0,$45.73,Chip Transaction,Supermarket Chain 3,Flint,MI,48532.000000,5411.0
4,1949.0,0.0,2018.0,1.0,4.0,$1.25,Chip Transaction,Convenience Store Chain 1,Brooklyn,NY,11213.000000,5499.0
...,...,...,...,...,...,...,...,...,...,...,...,...
1739,1998.0,2.0,2013.0,1.0,26.0,$193.24,Swipe Transaction,Neufelder Tegucigalpa Wine and Liquor,Tegucigalpa,Honduras,51694.676895,5921.0
1740,1999.0,3.0,2020.0,1.0,26.0,$221.96,Swipe Transaction,Abrils Wholesale,Saint Louis,MO,63146.000000,5300.0
1741,1999.0,3.0,2020.0,1.0,26.0,$26.69,Swipe Transaction,Abrils Wholesale,Saint Louis,MO,63146.000000,5300.0
1742,1999.0,3.0,2020.0,1.0,26.0,$103.95,Chip Transaction,Cox Saint Louis Restaurant,Saint Louis,MO,63146.000000,5812.0
1743,1999.0,3.0,2020.0,1.0,26.0,$0.24,Online Transaction,Digital Content Company 2,ONLINE,CA,51694.676895,5815.0

In [9]:
dependent=df[['target']]
dependent

     target
0        No
1        No
2        No
3        No
4        No
...     ...
1739    Yes
1740    Yes
1741    Yes
1742    Yes
1743    Yes

[1744 rows x 1 columns]

In [10]:
#Using undersampling balance the data

In [11]:
from imblearn.under_sampling import RandomUnderSampler
ros=RandomUnderSampler(random_state=42)
x_ros,y_ros=ros.fit_resample(independent,dependent)

In [12]:
x_ros.shape

(1744, 12)

In [13]:
y_ros.value_counts()

target
No        872
Yes       872
Name: count, dtype: int64

In [14]:
x_ros

,User,Card,Year,Month,Day,Amount,UseChip,MerchantName,MerchantCity,MerchantState,Zip,MCC
0,1750.0,0.0,2015.0,7.0,16.0,$21.42,Swipe Transaction,Lukass Theaters,Tiffin,OH,44883.000000,7832.0
1,1959.0,1.0,2016.0,5.0,5.0,$76.99,Chip Transaction,Jadens Wholesale,Lancaster,CA,93535.000000,5300.0
2,182.0,2.0,2012.0,11.0,23.0,$2.19,Swipe Transaction,Supermarket Chain 3,Houston,TX,77096.000000,5411.0
3,458.0,2.0,2019.0,5.0,15.0,$45.73,Chip Transaction,Supermarket Chain 3,Flint,MI,48532.000000,5411.0
4,1949.0,0.0,2018.0,1.0,4.0,$1.25,Chip Transaction,Convenience Store Chain 1,Brooklyn,NY,11213.000000,5499.0
...,...,...,...,...,...,...,...,...,...,...,...,...
978,309.0,1.0,2008.0,7.0,1.0,$142.44,Swipe Transaction,Amaris Istanbul Wholesale,Istanbul,Turkey,51694.676895,5310.0
1142,731.0,0.0,2011.0,9.0,21.0,$33.29,Online Transaction,Department Store 9,ONLINE,CA,51694.676895,5311.0
1732,1995.0,1.0,2014.0,2.0,9.0,$0.93,Online Transaction,Department Store 10,ONLINE,CA,51694.676895,5311.0
1307,1075.0,0.0,2016.0,11.0,27.0,$12.22,Chip Transaction,Diaz Ale House,Simi Valley,CA,93065.000000,5813.0
974,264.0,1.0,2020.0,2.0,1.0,$86.36,Chip Transaction,Eddies Wholesale,Georgetown,Guyana,51694.676895,5310.0

In [15]:
#Now save the balanced data in a csv file

In [16]:
# Convert the undersampled arrays to a Pandas DataFrame
undersampled_data = pd.DataFrame(data=x_ros, columns=independent.columns)

# Add the 'dependent' variable as a new column to the DataFrame
undersampled_data['target'] = y_ros

# Replace 'undersampled_data.csv' with the desired filename
output_file = 'undersampled_data.csv'

# Save the DataFrame to a new CSV file
undersampled_data.to_csv(output_file, index=False)

print(f"Undersampled data has been saved to {output_file}.")

Undersampled data has been saved to undersampled_data.csv.